# Ignore EVERYTHING
*

# Allow git control files
!.gitignore
!.gitattributes
!.github/

# ---- Allow selected Home Assistant config ----
!configuration.yaml

!scenes.yaml

!blueprints/
!blueprints/**

!custom_sentences/
!custom_sentences/**

!custom_responses/
!custom_responses/**

!custom_components/
!custom_components/**

!themes/
!themes/**

!customize/
!customize/**

!packages/
!packages/**

!shell_commands/
!shell_commands/**

!template/
!template/**

!docs/
!docs/**

!CHANGELOG.md


# ---- Explicitly block sensitive or useless data ----
secrets.yaml
.storage/
.cache/
.cloud/
automations.yaml
scripts.yaml
git_backup.sh

home-assistant*.db*
home-assistant.log*
*.log
*.lock

tts/
media/
image/
deps/
ssh_keys/
www/

