</p>
<h1 align="center">
  <a name="logo" href="http://nightdestiny.com"><img src="https://github.com/simplemice/home_assistant/blob/main/screenshots/casa_de_ratton.png" alt="Casa de Rattón" width="500"></a>
  <br>
  Casa de Rattón
  <br>
  Home Assistant Configuration (Testing Instance with Fully Realistic Simulation Packages)
</h1>

<h2>PLEASE READ LICENSE</h2>

***

Like all other Home Assistant instances this is also a Work in Progress :D

***

This repo contains the tested, working [Home Assistant](https://home-assistant.io/) configuration for **Casa de Rattón**. Below are links to the devices currently being used, blog posts, and other HA enthusists that provided inspiration and configs to help build this config.

#### Casa de Rattón's Three Laws of Home Automation:

When designing Casa de Rattón's automations I have made every effort to prioritize the solution based on the following three laws. 

**First Law: Every automation or action should be the result of a passive sensor or indirect action**.

**Second Law: An automation can be triggered by voice command only when Law 1 cannot be achieved**.

**Third Law: An automation or action can be trigger by a physical switch or as the result of a direct iteraction only when Law 1 and Law 2 cannot be achieved.**

## Some statistics about Test Installation:

Description | value
-- | --
Number of entities | {{states | count}}
Number of sensors | {{states.sensor | count}}
Current Version | {{ states('sensor.current_version') }}

## My installed extensions:

### Add-ons
{%- for addon in addons | sort(attribute='name') %}
- {{addon.name}}
{%- endfor %}

### Custom integrations
{%- for component in hacs_components | selectattr('category', 'equalto', 'integration') | sort(attribute='name') %}
- [{{component.name}}]({{component.documentation}})
{%- endfor %}

### Lovelace plugins
{%- for component in hacs_components | selectattr('category', 'equalto', 'plugin') | sort(attribute='name') %}
- [{{component.name}}]({{component.documentation}})
{%- endfor %}

### Themes
{%- for component in hacs_components | selectattr('category', 'equalto', 'theme') | sort(attribute='name') %}
- [{{component.name}}]({{component.documentation}})
{%- endfor %}


***

This RADME.md generated automaticaly after each update, by the [custom readme integration](https://github.com/custom-components/readme)
